{% extends "message.html" %}

{% block message %}
    <h2>Твой профиль улетел на модерацию 👍</h2>

    <p>
        Модерация может занять некоторое время. После одобрения тебе придет сообщение в бот и письмо на почту. Там будут подробные инструкции, как получить максимум пользы от Клуба
    </p>
    <p>
        По любым вопросам — <a href="{% url "docs" "contact" %}">пиши</a>.
    </p>

    <p>
        <br><a href="{% url "intro" %}" class="button">Ой. Изменить моё интро</a>
    </p>
{% endblock %}
