{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
{% endblock %}

{% block title %}
    Ваше приглашение 🪪
{% endblock %}

{% block body %}
    <p>
        Твой аккаунт в <a href="{{ settings.APP_HOST }}">Клубе</a> создан и успешно оплачен.
        Теперь, чтобы стать полноценным участником, нужно заполнить интро и пройти нашу модерацию: проверяем что вы живой человек и подходите под критерии участника сообщества.
    </p>

    <p>
        Ваш юзернейм в Клубе: <b>@{{ user.slug }}</b><br>
        Почта для входа: <b>{{ user.email }}</b>
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "login" %}?email={{ user.email }}" class="button">Начать писать интро</a>
    </p>

    <p>
        Если вы не понимаете о каком Клубе речь или создали второй аккаунт по ошибке, обязательно ответьте нам на это письмо, мы разберёмся.
    </p>

    <br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
