{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб Карьерного Цеха</a>! Твой профиль успешно прошел модерацию.
    </p>

    <p>
        Ваш юзернейм в Клубе: <b>@{{ user.slug }}</b><br>
        Почта для входа: <b>{{ user.email }}</b>
        Пароль. Его нет, работаем через коды для входа на почту или в бота.
    </p>

    <p style="font-size: 14px;">
        👆 попробуйте <a href="{{ settings.APP_HOST }}{% url "login" %}">войти в свой профиль</a>, там можно натыкать другие веселые штуки типа хобби
    </p>

    <br><br>

    {% if not user.is_email_verified %}
        <p>
            Так как паролей у нас нет и вход по кодам из почты, давайте для начала убедимся, что этот ящик действительно ваш.
        </p>

        <p>
            <a href="{% url "email_confirm" user.id %}" class="button">Подтвердить адрес почты</a>
        </p>
    {% endif %}

    <p>
        Как полезно использовать клуб:
    </p>

    <p>🤝 <strong>Качай нетворк.</strong> Ищи <a href="https://club.careerfactory.ru/people/" target="_blank">людей</a> со схожими интересами и иди знакомиться, всегда работает пароль «Я из клуба КЦ». 
        Подключи <a href="https://club.careerfactory.ru/link/727/" target="_blank">рандом-кофе бота</a>, и он сам подберет тебе пару для общения. 
        А в <a href="{% url 'network' 'chats' %}">каталоге чатов</a> можно найти единомышленников, работу и оффлайн-тусовку в своем городе.
    </p>
    
    <p>📝 <strong>Качай насмотренность.</strong> Каждый месяц мы выпускаем полезные интервью и материалы про бизнес-домен 
        (например, <a href="https://club.careerfactory.ru/post/950/" target="_blank">страхование</a> или >ecom), 
        профессию (куда пойти учиться продакту, или какие бывают аналитики), задачу (например, как провести продуктовое исследование, или что значит работа с командой разработки).
    </p>
    
    <p>🔨 <strong>Качай свою карьеру.</strong> Леся Набока с лучшими экспертами рынка каждый месяц создает полезные материалы про поиск работы или построение карьеры.</p>
    
    <p>🎓 <strong>Ходи обучаться.</strong> Приходи на <a href="https://club.careerfactory.ru/room/events/" target="_blank">онлайн-встречи</a> с топами рынка, чтобы вместе решать рабочие задачи и всегда быть в теме. 
        Записи прошедших встреч можно посмотреть <a href="https://club.careerfactory.ru/room/records/" target="_blank">по ссылке</a>.
    </p>
    
    <p>✍🏼 <strong>Проявляйся, <a href="https://club.careerfactory.ru/create/" target="_blank">пиши</a> и строй личный бренд.</strong> 
        Делись своими мыслями, опытом или задавай вопросы, а фидбек на них получишь в комментариях.
    </p>
    
    <p>💬 <strong>Подпишись.</strong> И будь в курсе событий:</p>
    <ul>
        <li><a href="https://t.me/kcparty" target="_blank">TG-канал Клуба</a> – здесь анонсы всех мероприятий и выпускаемых материалов.</li>
        <li><a href="https://t.me/careerfactory_club" target="_blank">TG-чат Клуба</a> – общение всех участников.</li>
        <li><a href="https://club.careerfactory.ru/post/936/" target="_blank">TG-чат твоего города</a> – чтобы встречаться в офлайне и пить кофе.</li>
        <li><a href="https://club.careerfactory.ru/post/974/" target="_blank">Тематические TG-чаты</a> – по профессиям и интересам.</li>
        <li><a href="https://club.careerfactory.ru/user/{{ user.slug }}/edit/bot/" target="_blank">TG-бот</a> – твой личный помощник, через него легко авторизовываться в Клубе, 
            получать уведомления, если тебя упомянули, ответили на пост или комментарий.</li>
    </ul>
    
    <p><a href="https://club.careerfactory.ru/post/919/" target="_blank"></a>Полная инструкция по Клубу</a>.</p>
    
    <p><strong>Вливайся и проявляйся, мы тебе рады!</strong></p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
