{% extends "layout.html" %}
{% load static %}

{% block title %}
    Привет — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content intro">
        <form action="{% url "intro" %}" method="post" class="intro-form" enctype="multipart/form-data">
            <div class="form-title">Привет, ты попал в Клуб! 👋</div>

            <div class="block-description" style="max-width: 100%;">
                <p>
                    Сейчас расскажем, что делать дальше. 
                </p>
                <p>
                    Заполни все поля профиля. Не обязательно писать все как в паспорте, главное — честно и искренне.
                </p>

                <p>
                    <!--Для начала <strong>прочитайте <a href="{% url "docs" "about" %}">наши правила</a></strong> и <strong><a href="{{ settings.VALUES_GUIDE_URL }}">ценности</a></strong>. Потом налейте себе вина и заполните форму ниже.-->
                    После заполнения – профиль улетит на проверку модератору. Это может занять время, потому что все анкеты проверяются вручную. Немного терпения. После одобрения тебе придет письмо на почту и сообщение в бот (о нем расскажем чуть позже).
                </p>

                <p>
                    Твой профиль по умолчанию будет закрытым для общего интернета и доступен только Клубчанам. Ты сможешь сделать его публичным в настройках, после модерации.
                </p>
            </div>

            <div class="clearfix50"></div>

            {% csrf_token %}

            <div class="form-row">
                <label for="{{ form.slug.id_for_label }}" class="form-label">
                    {{ form.slug.label }}
                </label>
                {{ form.slug }}
                {% if form.slug.errors %}<span class="form-row-errors">{{ form.slug.errors }}</span>{% endif %}
                <span class="form-row-help">Используется как URL вашей странички, для входа и для реплаев.<br>Потому только латиница, циферки и чёрточки без пробелов.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.full_name.id_for_label }}" class="form-label">
                    {{ form.full_name.label }}
                </label>
                {{ form.full_name }}
                {% if form.full_name.errors %}<span class="form-row-errors">{{ form.full_name.errors }}</span>{% endif %}
                <span class="form-row-help">
                    Реальное имя и фамилия, либо псевдоним, если вы более известны по нему. Только имя не подойдет.
                </span>
            </div>

            <div class="form-row">
                <label for="{{ form.email.id_for_label }}" class="form-label">
                    {{ form.email.label }}
                </label>
                {{ form.email }}
                {% if form.email.errors %}<span class="form-row-errors">{{ form.email.errors }}</span>{% endif %}
                <span class="form-row-help">Не будет виден никому, нужен для входа и оповещений</span>
            </div>

            <div class="form-row">
                <label for="{{ form.country.id_for_label }}" class="form-label">
                    {{ form.country.label }} и {{ form.city.label }}
                </label>
                {{ form.country }} {{ form.city }}
                {% if form.country.errors %}<span class="form-row-errors">{{ form.country.errors }}</span>{% endif %}
                {% if form.city.errors %}<span class="form-row-errors">{{ form.city.errors }}</span>{% endif %}
                <span class="form-row-help">Вдруг мы решим собраться на митап или типа того.</span>
            </div>

            <div class="form-row">
                <label for="{{ form.bio.id_for_label }}" class="form-label">
                    {{ form.bio.label }}
                </label>
                {{ form.bio }}
                {% if form.bio.errors %}
                    <span class="form-row-errors">{{ form.bio.errors }}</span>
                {% endif %}
                <span class="form-row-help">
                    🔥 <strong>Очень важное поле, без контактов мы не пускаем.</strong> Укажи ссылки на телеграм, блог, подкаст и другие соцсети, чтобы другие члены Клуба могли с тобой как-то связаться (телефон и имейл не считаются). Формат свободный. Используй Эмодзи и <a href="https://doka.guide/tools/markdown/" target="_blank">Markdown</a> чтобы сделать красиво. Это и будет карточка твоего профиля.
                </span>
            </div>

            <div class="form-row">
                <label for="{{ form.avatar.id_for_label }}" class="form-label">
                    {{ form.avatar.label }}
                </label>
                {{ form.avatar }}
                {% if form.avatar.errors %}<span class="form-row-errors">{{ form.avatar.errors }}</span>{% endif %}
            </div>

            <div class="block-header">👨‍💻<br>Чем занимаетесь?</div>

            <div class="block-description">
                Расскажите кто вы. Не обязательно как в трудовой книжке, просто укажите как вы себя сами называете.
                Эта информация будет висеть в вашем профиле прямо под именем.
            </div>

            <div class="clearfix50"></div>

            <div class="form-row">
                <label for="{{ form.position.id_for_label }}" class="form-label">
                    {{ form.position.label }}
                </label>
                {{ form.position }}
                {% if form.position.errors %}<span class="form-row-errors">{{ form.position.errors }}</span>{% endif %}
            </div>

            <div class="form-row">
                <label for="{{ form.company.id_for_label }}" class="form-label">
                    {{ form.company.label }}
                </label>
                {{ form.company }}
                {% if form.company.errors %}<span class="form-row-errors">{{ form.company.errors }}</span>{% endif %}
            </div>

            <div class="block-header">😎<br>Расскажите Клубу о себе</div>

            <div class="block-description">
                <p>
                    Теперь основная часть — написание #intro!
                </p>
                <p>
                    Расскажи в нескольких абзацах откуда ты, где работаешь, чем увлекаешься и о чем мечтаешь. Неформально — мы же знакомимся, а не проводим собеседование.
                </p>
                <p>
                    Интро попадет на главную и будет твоим первым постом в Клубе. Это помогает новичкам быстро влиться в комьюнити и найти единомышленников. Но сначала его проверит модератор 🙂
                </p>
                <!--<p>
                    Вот примеры хороших интро: <a href="https://vas3k.club/intro/vas3k/" target="_blank">Вастрик</a>, <a href="https://vas3k.club/intro/lena/" target="_blank">Лена</a>, <a href="https://vas3k.club/intro/Sciannadev/" target="_blank">Анна</a>.
                </p>-->
            </div>

            <div class="form-row form-row-intro">
                {{ form.intro }}
                {% if form.intro.errors %}<span class="form-row-errors">{{ form.intro.errors }}</span>{% endif %}
                <input-length-counter
                    element="#{{ form.intro.id_for_label }}"
                    class="intro-form-counter"
                    :min-length="{{ form.intro.field.widget.attrs.minlength }}"
                />
            </div>

            <div class="block-description" style="text-align: left; padding-top: 0;">
                <p>
                    Писать о себе всегда сложно, поэтому вот шаблон: 
                </p>
                <ul>
                    <li>Кто ты и чем занимаешься</li>
                    <li>Из какого города и как там оказался?</li>
                    <li>Расскажите о своих хобби и привычках?</li>
                    <li>Расскажи о своих хобби и привычках</li>
                    <li>Что делаешь в свободное от работы время. Куда любишь гонять на выходных</li>
                    <li>Почему ты захотел вступить в Клуб. Что хочешь от него получить. С чем нужна помощь</li>
                    <li>Какой экспертизой можешь поделиться?</li>
                    <li>Расскажи о личных проектах, если они у тебя есть</li>
                </ul>
            </div>

            <div class="block-header">📫<br>Чтобы не пропустить важное – выбери удобный способ оставаться в курсе новых постов и событий</div>

            <div class="block-description">
                У всех нас мало времени. Клуб — не соцсеточка, которая хочет максимум вашего внимания.
                Мы сразу предлагаем выбрать удобный для вас способ оставаться в курсе новых постов и событий.
            </div>

            <div class="form-row">
                <div class="big-radio">
                    <div class="big-radio-item">
                        {{ form.email_digest_type.1.tag }}
                        <label for="{{ form.email_digest_type.1.id_for_label }}" class="big-radio-label">
                            <i class="fas fa-envelope-open"></i>
                            <span class="big-radio-title">Ежедневные дайджесты</span>
                            <span class="big-radio-description">Хочу быть в курсе всего!</span>
                        </label>
                    </div>
                    <div class="big-radio-item">
                        {{ form.email_digest_type.2.tag }}
                        <label for="{{ form.email_digest_type.2.id_for_label }}" class="big-radio-label">
                            <i class="fas fa-calendar-week"></i>
                            <span class="big-radio-title">Журнал раз в неделю</span>
                            <span class="big-radio-description">Подборка лучшего по понедельникам</span>
                        </label>
                    </div>
                    <div class="big-radio-item">
                        {{ form.email_digest_type.0.tag }}
                        <label for="{{ form.email_digest_type.0.id_for_label }}" class="big-radio-label">
                            <i class="fab fa-telegram"></i>
                            <span class="big-radio-title">Никак</span>
                            <span class="big-radio-description">Я сам разберусь (нет)</span>
                        </label>
                    </div>
                </div>
                {% if form.email_digest_type.errors %}<span class="form-row-errors">{{ form.email_digest_type.errors }}</span>{% endif %}
            </div>

            <div class="block-header">Еще способы быть в курсе 👇</div>

            <div class="clearfix20"></div>

            <div class="block network-block" id="main">
                <div class="network-channels">
                    <a href="https://t.me/kcparty" rel="noreferrer" target="_blank" class="network-channel">
                        <span class="avatar network-channel-icon" style="background-image: url('https://messenger.careerpath.tech/media/52ceeeb4-61b6-4a60-a1bf-1335087c1966.png');"></span>
                        <span class="network-channel-name text-120">Телеграм-канал Клуба</span>
                        <span class="network-channel-description">Лучшие посты, отобранные руками</span>
                    </a>

                    <a href="https://t.me/careerfactory_club" rel="noreferrer" target="_blank" class="network-channel">
                        <span class="avatar network-channel-icon" style="background-image: url('https://messenger.careerpath.tech/media/9f51e619-fe8d-4238-9b8a-28766f3f2150.png');"></span>
                        <span class="network-channel-name text-120">TG-чат Клуба</span>
                        <span class="network-channel-description">Чат для общения всех участников</span>
                    </a>

                </div>
            </div>

            <div class="clearfix50"></div>

            <div class="block-header">🤖<br>Познакомьтесь с ботом</div>

            <div class="block-description">
                <p>
                    На бота завязано много фич Клуба — он присылает ответы на комментарии, через него можно отвечать и получать статистику.
                    Лучше сразу его подключить, иначе потом забудете и пропустите всё важное.
                </p>

                <a href="{{ settings.TELEGRAM_BOT_URL }}?start={{ me.secret_hash }}" target="_blank" class="button button-blue">
                    Привязать бота
                </a>
            </div>

            <div class="clearfix100"></div>
            <div class="clearfix100"></div>

            <div class="form-row form-row-checkbox" style="padding-bottom: 0;">
                <label for="{{ form.privacy_policy_accepted.id_for_label }}" class="form-label">
                    {{ form.privacy_policy_accepted }}
                      &larr; я даю согласие на обработку моих персональных данных, использование куков и других вещей, без которых современный интернет вообще не будет работать
                </label>
                {% if form.privacy_policy_accepted.errors %}<span class="form-row-errors">{{ form.privacy_policy_accepted.errors }}</span>{% endif %}
            </div>

            <button type="submit" class="button button-red button-big">Отправить на ревью</button>
        </form>
    </div>
{% endblock %}
