.intro {
    padding-top: 50px;
    font-size: 110%;
}

    .intro .form-title {
        font-size: 300%;
    }

    .intro-form {
        padding-top: 40px;
        text-align: center;
    }

        .form-row #id_slug {
            max-width: 220px;
            font-weight: 500;
        }

        .form-row #id_full_name {
            max-width: 430px;
            font-weight: 500;
        }

        .form-row #id_email {
            max-width: 350px;
            font-weight: 500;
        }

        .form-row #id_avatar {
            max-width: 350px;
        }

        .form-row #id_bio {
            width: 80%;
            height: 180px;
            min-height: auto;
        }

        .form-row #id_contact {
            width: 80%;
        }

        .form-row #id_country,
        .form-row #id_city {
            display: inline-block;
            width: 35%;
            min-width: 150px;
        }

        .intro-form textarea,
        .intro-form .CodeMirror {
            text-align: left;
            min-height: 700px;
            transform: scale(1);
        }

        .form-row #id_company {
            max-width: 400px;
            font-weight: 500;
        }

        .form-row #id_position {
            max-width: 500px;
            font-weight: 500;
        }

        .intro-form-counter {
            display: flex;
            font-size: 14px;
            color: darkgray;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            gap: 8px;
            width: 100%;
        }

        .intro-form-counter-block {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-grow: 1;
            justify-content: flex-start; 
        }

        .intro-form-counter-block img {
            width: 30px;
            height: 30px;
        }

        .intro-form-counter-block span {
            text-align: left;
        }

        .intro-form-counter-display {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
   
.post-join {
    margin-top: 30px;
    font-size: 120%;
    text-align: center;
}

    .post-join-icon {
        font-size: 50px;
        margin: 20px;
        line-height: 1em;
    }

    .post-join-message {
        font-size: 130%;
        font-weight: 500;
    }
